body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.margin {
    margin: 8px;
    padding: 0px;
    box-sizing: border-box;
    max-inline-size: 79rem;
}

div.panel {
    background-color: rgb(78 160 255);
    ;
    background-image: url(../Img/pattern.png);
    background-size: 27rem;
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: end;

}

.panel-icon {
    max-inline-size: 17rem;
    padding: 10px;
}

h1 {
    font-weight: 900;
    font-size: 45px;
    margin-bottom: 0;
}

.scritta-celeste {
    color: rgb(104 196 237);
    font-weight: 600;
}

.info {
    font-weight: 500;
    color: rgb(125 125 125);
    font-size: 23px;
    margin: 0px;
}

.img-tim {
    display: flex;
    padding-top: 16px;
}

.Tim-img {
    padding: 1px;
    width: 600px;
}

.credit {
    margin: 0px;
    font-size: 13px;
}

table {
    text-align: left;
    padding: 0px;
}

thead {
    background-color: rgb(32 169 229);
    color: white;
    padding: 0px;
}

thead th:nth-last-of-type(1) {
    width: 50%;
}

tbody>tr:nth-of-type(odd) {
    background-color: rgb(177 229 242);
}